[Unit]
Description=Pulser Acquistion Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10
User=root
Group=root
ExecStart=/bin/sh /home/dt/gumps_pulser/launcher.sh >> /home/dt/logs/pulser.log

[Install]
WantedBy=multi-user.target
